.container {
  
  background-color: rgb(214, 211, 211);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius:30x;
  padding: 18;
  margin: 20px;
  text-align: center;
}

.product-image {
    width: 180px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .product-image:hover {
    transform: scale(1.1); /* Efecto de zoom */
    opacity: 0.8; /* Cambia la opacidad cuando pasas el mouse */
  }

  .product-image:hover {
    transform: rotate(5deg); /* Rota la imagen 5 grados */
  }

  .product-image {
    transition: filter 0.3s ease;
  }
  
  .product-image:hover {
    filter: brightness(1.2); /* Incrementa el brillo al 120% */
  }

  

  .product-title {
    font-size: 28px;
    font-weight: bold;
    margin-top: 15px;
    color: #121212;
    
  }

 